.posts {
  list-style-type: none;
  margin: 0;

  li {
    margin: 1rem 0;

    a {
      padding: 1rem;
      display: block;
      margin: 0;
      background-color: #f4f4f4;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: #e9e8e8;
        box-shadow: 1px 1px 6px #a7a3a39a;
      }
    }

    h2 {
      margin-bottom: 8px;
    }

    p {
      color: #777;
      font-size: 0.8rem;
      font-style: italic;
    }

    a,
    h2,
    h5,
    p {
      color: #000;
      text-decoration: none;
    }
  }
}
